.container {
    text-align: center;
    top: 95%;
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
}

.container-fluid {
    display: grid;
	margin-top: 100px;
	margin-bottom: 50px;
    gap: 15px;
    row-gap: 10px;
}

.navbar {
	top: 85%;
}

.container:last-child {
	margin-bottom: 100px;
}

.annotateDetails{
    display:none;
}
#radio-buttons{
    display:none;
}

/*Swap between connect and disconnect buttons*/
#navhome.connected > #message-connected {
    display: block;
}
#navhome.connected > #message-disconnected {
    display: none;
}

#navhome:not(.connected) > #message-connected {
    display: none;
}
#navhome:not(.connected) > #message-disconnected {
    display: block;
}

/*Swap between connect watch and get watch data buttons*/
#bt.btconnected > #message-btconnected {
    display: block;
}
#bt.btconnected > #message-btdisconnected {
    display: none;
}

#bt:not(.btconnected) > #message-btconnected {
    display: none;
}
#bt:not(.btconnected) > #message-btdisconnected {
    display: block;
}

/*To swap between form and eter delayed annotation button*/

#home.enterPreviousData > #message-enterPreviousData {
    display: block;
}
#home.enterPreviousData > #message-sendPreviousData {
    display: none;
}

#home:not(.enterPreviousData) > #message-enterPreviousData {
    display: none;
}
#home:not(.enterPreviousData) > #message-sendPreviousData {
    display: block;
}

.button7{
    
    width: 90%;
}
.oldData{
    left: 5%;
    width: 90%;
    height: 20%;
    font-size: calc(.25em + .5vw);
}