* {
    font-family: sans-serif;
    font-size: calc(.5em + 1vw);
}

html,
.fullscreen{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: auto;
    text-align: center;
}

.oldData{
    position: absolute;
    top: 80%
}
  
#header>* {
    float: right;
}

/* #content,
#logo,
#message {
    
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message {
    top: 10%;
    width: 350px;
    color: #555;
} */

/* #content {
    width: 90%;
    height: 50%;
    background: #eee;
}

#logo {
    top: 25%;
    font-size: 96px;
} */
button {
    
    width: 20%;
    height: 50px;
    background: #89c;
    border: thin solid #999;
    color: white;
    font-size: 1.2rem;
    border-radius: 48px;
    margin-top: 1.5rem;
}

button:hover {
    background: #67a;
}

legend {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }

/*Swap between home and help */
#message.home > #home {
    display: block;
}
#message.home > #help {
    display: none;
}

#message.guide > #home {
    display: none;
}
#message.guide > #help {
    display: block;
}

/*Swap between connect and disconnect buttons*/
#home.connected > #message-connected {
    display: block;
}
#home.connected > #message-disconnected {
    display: none;
}

#home:not(.connected) > #message-connected {
    display: none;
}
#home:not(.connected) > #message-disconnected {
    display: block;
}

/*To swap between form and eter delayed annotation button*/

#home.enterPreviousData > #message-enterPreviousData {
    display: block;
}
#home.enterPreviousData > #message-sendPreviousData {
    display: none;
}

#home:not(.enterPreviousData) > #message-enterPreviousData {
    display: none;
}
#home:not(.enterPreviousData) > #message-sendPreviousData {
    display: block;
}

/* .avatar {
    fill: grey;
}

.avatar.connected {
    fill: #1c1;
} */
.button1{
    position:absolute;
    top: 5px;
    right: 5%;
}
.guide{
    position:absolute;
    top: 5px;
    left: 5%;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgb(227, 227, 227);
    border: none;
}
.box2{
    position:absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 50%;
    border-radius: 48px;
    background: rgb(226, 225, 225); 
}
.button2{
    position: absolute;
    top: 10%;
    left:25%;
    width: 50%;
}
.button3{
    position: absolute;
    top: 30%;
    left:25%;
    width: 50%;
}
.button4{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
}
.button5{
    position: absolute;
    top: 70%;
    left: 25%;
    width: 50%;
}
.button6a{
    position:absolute;
    top: 65%;
    left: 5%;
    width: 25%;
}
.button6b{
    position:absolute;
    top: 65%;
    left: 37.5%;
    width: 25%;
}
.button6c{
    position:absolute;
    top: 65%;
    right:5%;
    width: 25%;
}
.button7{
    position: absolute;
    top: 75%;
    left: 5%;
    width: 90%;
}
.oldData{
    position: absolute;
    top: 75%;
    left: 5%;
    width: 90%;
    height: 20%;
    font-size:calc(.5em + 1vw);
}

.button8{
    top: 5%;
    right: 5%;
    height: 48px;
    width: 48px;
}